@media(min-width:1300px){

}
@media(max-width:1299px){
	
}

@media(max-width:1199px){
	
}
@media (max-width:1023px){
	.page-width {
    width: 100%;
    margin: 0 20px;
}
.web-menu ul li a{
	font-size:14px;
}
li.main-menu a{
	margin: 0px 2px;
    padding: 5px 1px;
}

li.main-menu {
    flex: 40% 2 0;
    -webkit-flex: 40% 2 0;
}
li#myM {
    flex: 20% 2 0;
    -webkit-flex: 20% 2 0;
}
li.other-menu {
    flex: 40% 2 0;
    -webkit-flex: 40% 2 0;
}
.video_content{
	margin-left: 62px;
}
.right_icon{
	right: 7px;
}
.left_icon{
	left: 10px;
	    max-width: 242px;
}
.tree_icon{
  left:20px;	
}
.heading-sub_title{
	font-size:32px;
}
.subscription_form{
	max-width: 710px;
}

}

@media (max-width:767px){
	.head-top-box {
    display: -webkit-flex;
    flex-direction: column;
    }
	.head-top-box .width-50{
		width:100%;
	}
	
	.head-top-box .head-content {
    /* max-width: 490px; */
    margin: 20px 20px;
}
.head-top-box h1{
	font-size: 30px;
    line-height: 41px;
	margin-bottom: 20px;
}
.head-top-box p{
	margin-bottom: 30px;
}

li.main-menu {
    display: none;
}
.other-menu a:first-child {
    display: none;
}
.web-menu ul{
	-webkit-justify-content: space-between;
}
.web-menu ul li{
	-webkit-flex: none;
}
li#mob-menu a {
    text-decoration: none;
    color: #000;
    font-size: 45px;
}
li#mob-menu {
    display: block;
}
#myLinks {
    display: none;
}
div#myLinks a {
    display: block;
}
div#myLinks {
    background: aliceblue;
}
}
