@font-face {
  font-family: 'FaktPro-Normal';
  src: url('../fonts/FaktPro-Normal/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),  url('../fonts/FaktPro-Normal/FaktPro-Normal.woff') format('woff'), url('../fonts/FaktPro-Normal/FaktPro-Normal.ttf')  format('truetype'), url('../fonts/FaktPro-Normal/FaktPro-Normal.svg#FaktPro-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FaktPro-Medium';
  src: url('../fonts/FaktPro-Medium/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/FaktPro-Medium/FaktPro-Medium.woff') format('woff'), url('../fonts/FaktPro-Medium/FaktPro-Medium.ttf')  format('truetype'), url('../fonts/FaktPro-Medium/FaktPro-Medium.svg#FaktPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Recoleta-Regular';
  src: url('../fonts/Recoleta-Regular/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Recoleta-Regular/Recoleta-Regular.woff') format('woff'), url('../fonts/Recoleta-Regular/Recoleta-Regular.ttf')  format('truetype'), url('../fonts/Recoleta-Regular/Recoleta-Regular.svg#Recoleta-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


*{
	margin:0px;
	padding:0px;
}
body{
	background:#fff;
	padding-top:95px;
	font-family: 'FaktPro-Normal';
}
#header{
    width: 100%;
    box-shadow: 1px 1px 7px #dad9d9;
    position: fixed;
    top: 0;
    z-index: 7;
}
.top-bar{
	background:#f6faff;
	height:31px;
	text-align: center;
	display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.top-bar p{
    font-size: 12px;
    margin: 0;
}
li#mob-menu {
    display: none;
}
.web-menu {
    display: -webkit-flex;
    height: 64px;
	background: #fff;
}
.page-width {
	width: 100%;
    margin: 0 34px;
}

.web-menu ul {
   list-style: none;
    height: 100%;
    margin: 0;
	display: -webkit-flex;
    /* justify-content: space-around; */
    align-items: center;
    -webkit-align-items: center;
}

li.main-menu {
    flex: 40% 2 0;
    -webkit-flex: 40% 2 0;
}
li#myM {
    flex: 20% 2 0;
    -webkit-flex: 20% 2 0;
}
li.other-menu {
    flex: 40% 2 0;
    -webkit-flex: 40% 2 0;
}

.main-menu a:first-child{
	margin-left:0;
	
} 
.web-menu ul li a{
	text-decoration:none;
	outline: none;
    border: none;
}


.web-menu  li#myM a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 25px;
}

.web-menu li.other-menu a:last-child {
    margin-left: 40px;
    
}

#myM img {
    width: 146px;
}
#myM {
    text-align: center;
}
li.main-menu a.active{
 background: #ffeff3;
    border-radius: 10px;
    text-align: center;	
}
li.other-menu {
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

li.other-menu img{
	margin-right:7px;
}
li.other-menu a{
	color: #1f2d54;
}
li.main-menu a {
    color: #1f2d54;
    margin: 0 13px;
	font-size: 15px;
	padding: 5px;
}

.heading-title {
    float: left;
    width: 100%;
    padding: 0 0 23px;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'FaktPro-Medium';
    letter-spacing: 1px;
}
.heading-sub_title {
    font-family: 'Recoleta-Regular';
    font-size: 40px;
    width: 100%;
    padding: 0;
	margin:0;
}
.head-top-box {
	position:relative;
}
.image-new-content-block__video_3 {
    width: 100%;
}
.about-video .video_text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 106px;
    text-align: center;
    margin: 0;
    transform: translate(0, -50%);
	color: #fff;
}
.about-video{
    height: 579px;
    position: relative;
	overflow:hidden;
	background: #1f2d54;
}
.video_content {
    max-width: 600px;
    margin-left: 120px;
}

.down_arrow{
	width: 43px;
    height: 43px;
    border: 2px solid rgb(31, 45, 84);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px !important;
	background-image: url(../img1/arrow_next.svg);
	transform: rotate(90deg);
	margin: 0 auto;
	background-color: #fff;
	cursor: pointer;
	z-index:5;
}
.bottom_arrow {
    margin-top: -22px;
	position: absolute;
	left: 49%;
	right: 49%;
	text-align: center;
	z-index: 5;
	bottom: -22px;
}
.how_it_work_div {
    padding: 103px 0 0;
    background-color: #f6faff;
	position: relative;
	display: -webkit-flex;
    -webkit-flex-direction: column;
}
.how_to_work{
   
}
.left_icon {
    width: 100%;
    max-width: 270px;
    position: absolute;
    top: 62px;
    left: 139px;
}
.left_icon .cloud_icon {
    text-align: center;
}
.birds_icon.birds_icon1 {
    margin-top: 0;
    position: relative;
    top: 68px;
}
.birds_icon.birds_icon2 {
    float: right;
    margin-top: 0px;
    position: relative;
    top: -4px;
}
.right_icon {
    width: 100%;
    max-width: 270px;
    position: absolute;
    top: 52px;
    right: 100px;
	display: -webkit-flex;
    -webkit-justify-content: flex-end;
}
.right_icon .cloud_icon {
    -webkit-align-self: flex-end;
    margin-right: 27px;
}
.right_icon .sun_icon {
    margin-bottom: 21px;
}
.steps_div {
    margin: 0 auto;
}
.steps_div_content {
    max-width: 840px;
	display: -webkit-flex;
	margin-bottom: 45px;
}
.s-col {
    width: 33.33%;
	text-align: center;
	float: left;
	cursor:pointer;
	margin: 0 39px;
}
.s-col img {
    width: 116px;
    height: 103px;
}
.txt-dark{
	color:#18274f;
}
.step-icon{
	width: 116px;
    height: 103px;
	display: block;	
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.s-col .s1-img{
	background:url(../img1/svg/Kendamil-newicons-Organic2.svg)no-repeat;
	background-position: center; 
}
.s-col .s2-img{
	background:url(../img1/svg/Kendamil-newicons-fullcream2.svg)no-repeat;
	background-position: center; 
}

.s-col .s3-img{
	background:url(../img1/svg/Kendamil-newicons-DNA2.svg)no-repeat;
	background-position: center; 
}

.s-col.s1:hover .s1-img{
	background:url(../img1/svg/hover/Kendamil-newicons-Organic2.svg)no-repeat;
	background-position: center; 
}
.s-col.s2:hover .s2-img{
	background:url(../img1/svg/hover/Kendamil-newicons-fullcream2.svg)no-repeat;
	background-position: center; 
}
.s-col.s3:hover .s3-img{
	background:url(../img1/svg/hover/Kendamil-newicons-DNA2.svg)no-repeat;
	background-position: center; 
}
.how_to_work h3 {
    padding-bottom: 19px;
}

.steps_div_content h5 {
    padding-top: 23px;
}
.steps_div_content p {
    font-size:14px;
}

.bottom_design {
    border-top: 1px solid #18274f;
    border-bottom: 1px solid #18274f;
	height:50px;
	background:#f5f8f0;
	position: relative;
}
.tree_icon {
    position: absolute;
    bottom: 0;
	left: 55px;
}

.subscription_form_div{
	height:100vh;
	margin:92px 0;
}
.subscription_form {
	display:-webkit-flex;
	max-width:1154px;
	margin: 0 auto;
}

.subscription_form .width-50{
	width:50%;
}
.dob_class{
	position:relative;
}
img.calendar {
    position: absolute;
    bottom: 12px;
    right: 17px;
	z-index: -1;
}
.sub_content {
    max-width: 496px;
    margin: 0 auto;
	margin-top: 17px;
    margin-bottom: 52px;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
.btn {
    background: transparent;
    color: #1f2d54;
    font-size: 12px;
    height: auto;
    line-height: normal;
    padding: 21px 46px;
    border-radius: 2px;
    position: relative;
    border: 2px solid #1f2d54;
    text-align: center;
    font-weight: normal;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'FaktPro-Medium';
    line-height: normal;
}
#customer_sub input[type="submit"]:hover {
    background: #1f2d54!important;
	color:#fff;
}
#customer_sub input[type="submit"] {
	cursor:pointer;
}
#customer_sub [type="submit"] {
    border: 2px solid #1c2a52!important;
    width: 100%;
    float: left;
}
#customer_sub input,select {
    border: 2px solid #efefef;
    padding: 16px 27px;
    color: #192850;
    background: transparent;
	width: 100%;
}
#customer_sub input,select:focus {
   border: 2px solid #efefef;
   outline:none;
    
}
.radiobtn-group {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	margin-bottom: 9px;
}
.qtybox {
    float: left;
    width: 100%;
    position: relative;
}
form#customer_sub .label_ptb {
    padding: 30px 0 12px;
}
.qtydiv {
    float: left;
    width: 100%;
}
.btn1.active {
border: 2px solid #1f2d54!important;

}
input[type="radio"] {
    opacity: 0;
	display:none;
}
.btn1{
	padding: 21px 17px;
	border: 2px solid #efefef!important;
}
.btn.product_sub {
    display: inherit;
    width: 78%;
    padding: 21px 25px;
    text-align: center;
    float: right;
    margin: 0;
    min-height: 61px;
    border-radius: 0 2px 2px 0;
}

select{
        background: url(../img1/arr.png) no-repeat;
        background-position: right 14px top 20px; /* Change the px value here to change the distance */
        -moz-appearance: none; 
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;
           
    }
.btnqty {
    position: absolute;
    top: 0;
    padding: 15px 0;
    height: auto;
    font-size: 16px;
    width: 31px;
    line-height: 35px;
    cursor: pointer;
}
.btnqty.qtyminus.icon.icon-minus {
    left: 0;
    text-align: right;
}
.btnqty.qtyplus.icon.icon-plus {
    right: 0;
}
::placeholder {
    opacity: 1;
    color: #1f2d54;
  	font-size:14px;
}
::-moz-placeholder {
    opacity: 1;
    color: #1f2d54;
  	font-size:14px;
}
::-webkit-input-placeholder {
    opacity: 1;
    color: #1f2d54;
  	font-size:14px;
}	

#customer_sub p{
	margin: 26px 0 16px;
}
.deli-txt{
margin: 14px 0 0;	
}

.qty_box {
    display: -webkit-flex;
    border: 2px solid #1c2a52;
}


#sub_img{
	background-color:#fffde6;
	
}
.sub_img{
	-webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
	background:url(../img1/pro.png)no-repeat;
	background-position: center; 
	width:100%;
	height:100%;
}
.sub_img1{
	-webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
	background:url(../img1/pro1.png)no-repeat;
	background-position: center; 
	width:100%;
	height:100%;
}
.sub_img2{
	-webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
	background:url(../img1/pro2.png)no-repeat;
	background-position: center; 
	width:100%;
	height:100%;
}


/*************footrer *******/
.footer-menu{
	margin: 0 40px;
}
.subscribe {
    margin: 0 40px;
    margin-bottom: 133px;	
}
.subscribe h2 {
    text-align: right;
	font-size:50px;
	font-weight:bold;
	margin-top: 50px;
}
input[type="email"] {
    width: 395px;
	display:inline;
	box-shadow:none;
	padding:0;
	margin:0;
}

.subscribe input {
	font-family: 'Josefin Sans', sans-serif;
    border: none;
    outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}
.subscribe form {
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
	margin-top:35px;
}
.subscribe span {
    border: 1px solid #000;
    padding: 20px;
}
.footer-menu ul{
	display:-webkit-flex;
	list-style:none;
	margin-bottom: 45px;
}

.footer-menu ul li {
    margin-right: 55px;
}

.footer-menu ul a{
	color:#000;
	text-decoration:none;
	
}
footer .bottom-line-50 {
    background: #9abeaa;
   
}
footer .bottom-line-25 {
	 background: #e4d5d3;
   
}

