@media(min-width:1300px){

}
@media(max-width:1299px){
	
}

@media(max-width:1199px){
	
}
@media (max-width:1024px){
	.head-top-box h1{
		font-size:40px;
		line-height: 50px;
		line-height: 75px;
        margin-bottom: 30px;
	}
	.head-top-box .head-content {
    max-width: 365px;
	}
	.head-top-box .button {
    padding: 17px 57px;
	}
	.head-top-box p{
		margin-bottom: 40px;
	}
	.mission_div .button {
    padding: 17px 57px;
	}
	.mission_div p{
		margin-bottom: 40px;
	}
	.surprising_div_conent h1{
		font-size:40px;
	}
	.surprising_div_conent {
    
    margin-left: 30px;
  }
	.surprising_div{
		padding-top:80px;
	}
	.surprising_div .button{
		padding: 17px 57px;
	}
	
div.blog_container {
    max-width: 970px;
}
.blog-container .slick-list {
    margin-left: -23px;
}
.body_setup_div .button{
	padding: 17px 57px;
}
.body_setup_div p{
	margin-bottom: 40px;
}
.body_setup-content {
    max-width: 970px;
}
.head-top-box img{
	min-height: 520px;
}
.feedback_slider_content{
	margin-left: 35px;
	margin-right: 35px;
}
.feedback_slider {
    width: 300px;
}
.feedback_slider1 {
    width: 640px;
}
.arrow_btns{
	left: 305px;
}
.width-38 {
    width: 28%;
}
.width-62 {
    width: 72%;
}
.feedback_slide_content p {
    font-size: 28px;
}
.feedback_div_container{
	    margin-top: 60px;
}
.feedback_slide_content p{
	margin-top: 40px;

}

}

@media (max-width:991px){
	
.feedback_slider1	{
	left: 87px;
}
	.head-top-box h1 {
    font-size: 30px;
    line-height: 39px;
	margin-bottom: 15px;
}
.head-top-box p{
	margin-bottom: 20px;
}
.head-top-box .button {
    padding: 17px 48px;
}
.head-top-box .head-content {
    max-width: 305px;
}
.head-top-box img{
	min-height: 490px;
}

.mission_div img{
	min-height: 614px;
	object-fit: cover;
}

.mission_div .mission_content{
  max-width: 340px;
}
.mission_div h1{
	font-size: 30px;
    line-height: 39px;
}
.mission_div .button{
	 padding: 17px 48px;
}
.mission_div p{
	margin-bottom: 20px;
}
.feedback_slider_content{
	margin-left: 32px;
}
.width-38 {
    width: 33%;
}
.feedback_slide_content p {
    font-size: 23px;
}
.blog-container .slick-list {
    margin-left: -33px;
}
div.blog_container{
max-width: 720px;
}

.body_setup_box {
    width: 230px;
}

.body_setup-content, .featured_content {
    max-width: 720px;
}
.featured_content .logo_div_caption {
    font-size: 30px;
}
.page-width{
	
}

}

@media (max-width:767px){
	.body_setup_box {
    width: auto;
}
	.subscribe {
    margin: 0 20px;
	}
	.head-top-box img {
    min-height: auto;
}
.mission_div img {
    min-height: auto;
    object-fit: cover;
}
	.mission_div .mission_content {
    max-width: max-content;
}
	.head-top-box {
    display: -webkit-flex;
    flex-direction: column;
    }
	.head-top-box .width-50{
		width:100%;
	}
	.align-head-content.width-50 {
    order: 1;
    }
	.banner.width-50 {
    order: 0;
	}
	.head-top-box .head-content {
    /* max-width: 490px; */
    margin: 30px 20px;
}
.mission_div .button{
	    padding: 19px 50px;
}
.head-top-box h1{
	font-size: 30px;
    line-height: 41px;
	margin-bottom: 20px;
}
.head-top-box p{
	margin-bottom: 30px;
}
.align-head-content.width-50{
	display:block;
}
.head-top-box .bottom-line-25{
	position: relative;
	bottom: 0;
   
}
.head-top-box .bottom-line-50{
	position: relative;
}
.product_carousel {
    margin: 50px 20px;
}
.product_carousel_filter{
	margin-bottom: 50px;
}	
.product_carousel_filter .filter-btn{
	    margin: 0 5px;
}
.mission_div {
   -webkit-flex-direction:column;
}
.mission_div .width-40 {
    width: 100%;
}
.mission_div .width-60{
    width: 100%;
	padding: 20px;
}
.footer-menu ul{
	-webkit-flex-direction:column;
}
.footer-menu ul li {
    margin-right: 0px;
}
input[type="email"] {
    width: 90%;
}
.subscribe span{
	padding: 15px;
	width: 100%;
}
.subscribe h2 {
    text-align: left;
}
.subscribe{
	margin-bottom: 50px;
}
.featured_div {
    padding: 30px 30px;
}
.featured_content .logo_div_caption {
font-size: 22px;
margin-bottom: 40px;
}
.featured_content .logo_div {
margin-top: 5px;
}
.body_setup_div .width-60 {
    width: 100%;
    position: relative;
    order: -1;
}
.body_setup_div .width-40{
	width: 50%;
}
.product_carousel .owl-carousel .owl-stage-outer {
    padding-left: 0;
}
.surprising_div_conent h1{
	font-size:28px;
	padding-right: 0px;
}
.slider_title{
padding-right: 30px!important;
}
.surprising_div{
	padding-top:50px;
	padding-left:20px;
	padding-right:20px;
}
.letterSlider span{
	
}
.letterSlider h1 {
    margin: 0 39px;
}
h1.slider_title {
    width: auto;
}
.letterSlider span {
    height: 17px;
    margin-top: -39px;
}
.filter_pro_card_content {
    margin-top: 15px;
	margin-bottom: 25px;
}
ul.filter_pro_card_content_hover {
    font-size: 13px;
}
.mission_div .mission_content {
   margin: 20px 0;
}
.surprising_div .button{
	padding: 19px 50px;
}
.mission_div h1 {
    font-size: 30px;
    line-height: 41px;
}
.mission_div p {
    margin-bottom: 40px;
}
li.main-menu {
    display: none;
}
.other-menu a:first-child {
    display: none;
}
.web-menu ul{
	-webkit-justify-content: space-between;
}
.web-menu ul li{
	-webkit-flex: none;
}
li#mob-menu a {
    text-decoration: none;
    color: #000;
    font-size: 45px;
}
li#mob-menu {
    display: block;
}
#myLinks {
    display: none;
}
div#myLinks a {
    display: block;
    padding: 10px 0;
	color:#000;
}
div#myLinks {
    background: #f7f7f9;
	padding: 20px 0;
}
.web-menu li#myM a{
	margin-left: 20px;	
}
.page-width {
    margin: 0 20px;
}
.head-top-box .button{
	padding: 19px 50px;
}

.product_carousel .owl-nav{
	top: 40%;
}
button.owl-next span {
    padding: 18px 18px;
}

button.owl-prev span{
	padding: 18px 18px;
}
.owl-theme .owl-nav [class*=owl-]{
	margin:0;
}
.featured_content .logo_div .img{
	margin:0;
}
.featured_div {
    padding: 40px 30px;
	margin-bottom: 30px;
}
.width-38 {
    width: 100%;
	order:2;
}
.width-62{
	width: 100%;
	order:1;
}
.arrow_btns{
	left:0;
}
.feedback_slider {
    width: 220px;
}
.feedback_slider1 {
    width: 340px;
    left: 43px;
}
.feedback_div_container{
	margin-top: 50px;
	width: 100%;
	-webkit-flex-wrap: wrap;
   overflow: hidden;
    padding-left: 20px;
}
.feedback_slider_content{
	margin-left: 20px;
}
.arrow_btns .slick-arrow {
    width: 50px;
    height: 50px;
}
.arrow_btns .slick-next.slick-arrow{
	left: 75px;
}
.arrow_btns {
    left: 216px;
}
.feedback_div .bottom-lines {
    margin-top: -342px;
}

.feedback_div .bottom-line-261 {
    height: 403px;
}

.feedback_slide_content p{
	margin-top: 40px;
}

.surprising_div{
	overflow: hidden;
}
.feedback_div {
    padding-top: 70px;
}
.feedback_div_content{
	margin:0 20px;
}
.feedback_div h1{
	font-size: 30px;
}
.body_setup-content{
	    width: 100%;
    display: block;
}
.body_setup_div {
   width: 100%;
    position: relative;
    float: left;
    display: -webkit-flex;
    flex-direction: column;
    overflow: hidden;
}
.body_setup_div .width-60 {
    width: 100%;
    position: relative;
    order: 2;
}

.body_setup_box {
    padding: 30px 20px 50px;
}

.body_setup_div .bottom-line-25{
    position: unset; 
}
.body_setup_div .bottom-line-50{
	position: inherit; 
}
.body_setup_div .width-40 {
    width: 100%;
    margin-left: 50%;
}
img#body_setup_img {
    margin-left: -56%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
}
.body_setup_div p {
    margin-bottom: 40px;
}
.body_setup_div .button {
    padding: 19px 50px;
}
.blog_div_grid .slick-slide {
    padding: 0 10px;
}
.blog_div_grid{
	margin-top: 48px;
}
.blog-container .sarrow_btns {
	display:block;
}
.latest_stories_div h1, .latest_stories_div p{
	margin: 0 20px;
}

}
